/*#ED4337 Darker*/

body {
    background-color: #e85045;
    font-family: 'Courgette', cursive;
    color: white;
    display: flex;
    -webkit-app-region: drag;
    justify-content: center;
    text-align: center;
}

button {
    font-family: 'Courgette', cursive;
    outline: 0;
    margin-top: 100px;
    border: 2px solid white;
    color: white;
    border-radius: 100px;
    padding: 40px 40px;
    text-decoration: none;
    display: block;
    font-size: 40px;
    background-color: #35B084;
}

button:hover {
    background-color: #28a377;
}

h1 {
    font-size: 50px;
}
